<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- SITE TITTLE -->
    <%= render 'shared/head/site_title' %>

　　<!-- INITIAL LAYOUT-->
　　<%= render 'shared/head/initial_layout' %>

    <!-- PLUGINS CSS STYLE -->

    <!-- GOOGLE FONT -->
    <%= render 'shared/head/google_font' %>

    <!-- CUSTOM CSS -->

    <!-- IE compatible -->
    <%= render 'shared/head/ie' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'shared/header/header' %>
      <%= render 'shared/section/light' %>
      <%= yield %>
      <%= render 'shared/footer/footer' %>
      <%= render 'shared/footer/copy_right' %>
      <%= render 'shared/modal/login' %>
      <%= render 'shared/modal/sign_up' %>
      <%= render 'shared/modal/quick_view' %>
    </div>
  </body>
</html>
